@media print {
    .tm-team-img {
        display: none;
    }
    .tm-team-description-container {
        text-align: center;
        margin: 0;
        max-width: 1200px;
    }
    section {
        margin-top: -60px;
    }
    section::before {
        display: none;
    }
    ol {
        list-style: none !important;
        width: 360px;
        margin: 0 auto;
    }
    ol li {
        margin-bottom: 15px;
    }
    ol li:nth-child(odd) {
        float: right;
    }
    ol li:nth-child(even) {
        padding-top: 15px;
    }
    h2 {
        text-transform: uppercase;
    }
    .heading li:first-child::after,
    .heading li:nth-child(3)::after {
        display: none;
    }
    p {
        font-size: 0.9em;
        line-height: 1.4em !important;
    }
    #about {
        display: none;
    }
    .tm-sidebar {
        display: none;
    }
    .carousel-inner {
        margin-top: -50px;
    }

    .carousel-indicators {
        display: none;
    }
    #tmCarousel {
        padding-bottom: 30px;
    }
    .blocks .tm-content-box {
        display: none;
    }
    .img-contact-us {
        display: none;
    }
    #contact {
        display: none;
    }
    .tm-main-content {
        padding-top: 0;
    }

    .tm-section-title {
        text-align: center !important;
    }
    .padding-medium {
        padding-top: 10px;
    }
    .tm-main-content {
        margin-top: -50px;
    }
    .blocks {
        margin-top: -50px;
    }
    #ideas {
        margin-top: -30px;
        padding-top: 0;
    }
}